ext/BZLIB_blocksort.c
ext/BZLIB_bzlib.c
ext/BZLIB_compress.c
ext/BZLIB_crctable.c
ext/BZLIB_decompress.c
ext/BZLIB_huffman.c
ext/BZLIB_randtable.c
ext/Makefile
ext/STEMMER_api.c
ext/STEMMER_libstemmer.c
ext/STEMMER_stem_ISO_8859_1_danish.c
ext/STEMMER_stem_ISO_8859_1_dutch.c
ext/STEMMER_stem_ISO_8859_1_english.c
ext/STEMMER_stem_ISO_8859_1_finnish.c
ext/STEMMER_stem_ISO_8859_1_french.c
ext/STEMMER_stem_ISO_8859_1_german.c
ext/STEMMER_stem_ISO_8859_1_hungarian.c
ext/STEMMER_stem_ISO_8859_1_italian.c
ext/STEMMER_stem_ISO_8859_1_norwegian.c
ext/STEMMER_stem_ISO_8859_1_porter.c
ext/STEMMER_stem_ISO_8859_1_portuguese.c
ext/STEMMER_stem_ISO_8859_1_spanish.c
ext/STEMMER_stem_ISO_8859_1_swedish.c
ext/STEMMER_stem_ISO_8859_2_romanian.c
ext/STEMMER_stem_KOI8_R_russian.c
ext/STEMMER_stem_UTF_8_danish.c
ext/STEMMER_stem_UTF_8_dutch.c
ext/STEMMER_stem_UTF_8_english.c
ext/STEMMER_stem_UTF_8_finnish.c
ext/STEMMER_stem_UTF_8_french.c
ext/STEMMER_stem_UTF_8_german.c
ext/STEMMER_stem_UTF_8_hungarian.c
ext/STEMMER_stem_UTF_8_italian.c
ext/STEMMER_stem_UTF_8_norwegian.c
ext/STEMMER_stem_UTF_8_porter.c
ext/STEMMER_stem_UTF_8_portuguese.c
ext/STEMMER_stem_UTF_8_romanian.c
ext/STEMMER_stem_UTF_8_russian.c
ext/STEMMER_stem_UTF_8_spanish.c
ext/STEMMER_stem_UTF_8_swedish.c
ext/STEMMER_stem_UTF_8_turkish.c
ext/STEMMER_utilities.c
ext/analysis.c
ext/analysis.h
ext/api.h
ext/array.c
ext/array.h
ext/bitvector.c
ext/bitvector.h
ext/bzlib.h
ext/bzlib_private.h
ext/compound_io.c
ext/config.h
ext/document.c
ext/document.h
ext/except.c
ext/except.h
ext/ferret_ext.bundle
ext/ferret_ext.so
ext/field_index.c
ext/field_index.h
ext/filter.c
ext/fs_store.c
ext/global.c
ext/global.h
ext/hash.c
ext/hash.h
ext/hashset.c
ext/hashset.h
ext/header.h
ext/helper.c
ext/helper.h
ext/index.c
ext/index.h
ext/internal.h
ext/libstemmer.h
ext/mempool.c
ext/mempool.h
ext/modules.h
ext/multimapper.c
ext/multimapper.h
ext/posh.c
ext/posh.h
ext/priorityqueue.c
ext/priorityqueue.h
ext/q_boolean.c
ext/q_const_score.c
ext/q_filtered_query.c
ext/q_fuzzy.c
ext/q_match_all.c
ext/q_multi_term.c
ext/q_parser.c
ext/q_phrase.c
ext/q_prefix.c
ext/q_range.c
ext/q_span.c
ext/q_term.c
ext/q_wildcard.c
ext/ram_store.c
ext/scanner.[ch]
ext/scanner_mb.c
ext/scanner_utf8.c
ext/search.c
ext/search.h
ext/similarity.c
ext/similarity.h
ext/sort.c
ext/stem_ISO_8859_1_danish.h
ext/stem_ISO_8859_1_dutch.h
ext/stem_ISO_8859_1_english.h
ext/stem_ISO_8859_1_finnish.h
ext/stem_ISO_8859_1_french.h
ext/stem_ISO_8859_1_german.h
ext/stem_ISO_8859_1_hungarian.h
ext/stem_ISO_8859_1_italian.h
ext/stem_ISO_8859_1_norwegian.h
ext/stem_ISO_8859_1_porter.h
ext/stem_ISO_8859_1_portuguese.h
ext/stem_ISO_8859_1_spanish.h
ext/stem_ISO_8859_1_swedish.h
ext/stem_ISO_8859_2_romanian.h
ext/stem_KOI8_R_russian.h
ext/stem_UTF_8_danish.h
ext/stem_UTF_8_dutch.h
ext/stem_UTF_8_english.h
ext/stem_UTF_8_finnish.h
ext/stem_UTF_8_french.h
ext/stem_UTF_8_german.h
ext/stem_UTF_8_hungarian.h
ext/stem_UTF_8_italian.h
ext/stem_UTF_8_norwegian.h
ext/stem_UTF_8_porter.h
ext/stem_UTF_8_portuguese.h
ext/stem_UTF_8_romanian.h
ext/stem_UTF_8_russian.h
ext/stem_UTF_8_spanish.h
ext/stem_UTF_8_swedish.h
ext/stem_UTF_8_turkish.h
ext/stopwords.c
ext/store.c
ext/store.h
ext/term_vectors.c
ext/win32.h
test/temp
pkg
